<style type="text/css">
    .navbar{
        margin-bottom: 0px !important;
    }
    .content{
        padding: 0 !important;
    }

</style>
<!-- Sticky NavBar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ui-sref="home({token: vendor.token})">{{vendor.name}}</a>
    <!--       <img alt="Brand" style="max-height: 20px;" src="{{vendor.logo}}">
    -->    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a data-ui-sref="home({token: vendor.token})">Home </a></li>
                    <!-- <li><a href="#">About Us</a></li> -->
                    <li class="active"><a data-ui-sref="reserve({token: vendor.token})">Reserve a field or space<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pickup Games <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-ui-sref="pickups({token: vendor.token})">Join a Pickup Game</a></li>
                            <li><a href="#"></a></li>
                            <li><a data-ui-sref="list({token: vendor.token})">Subscribe to our Pickup List</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<!-- Sticky NavBar -->
<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="block block-rounded" id="main-block">    
        <div class="row">
            <div class="col-sm-12 col-lg-12 block-header block-header-default" style="border-bottom: 2px solid #000000;">
                    <span class=" h3 block-title text-black"><i class="fa fa-futbol-o" style="padding-right: 15px"></i> Slot reservation Successful!</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div  style="padding-top: 10px !important">
                    <img class="img-fluid" style="max-width: 100%;  height: auto; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="{{pickup.vendor.logo}}" srcset="{{pickup.vendor.logo}}" alt="{{pickup.vendor.name}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="block-content">
                    <p><span class="h3" style="font-style: bold;" ng-bind="pickup.vendor.name"></span>
                        <br>
                        <span class="h5" style="font-style: bold;" ng-bind="pickup.vendorspace.name"></span>
                        <br>
                        <span class="h5" style="font-style: bold;" ng-bind="pickup.fdate"></span>
                        <br>
                        <span class="h5" style="font-style: bold;" ng-bind="pickup.playtime"></span>
                    </p>
                    <!-- Actions -->
                    <div class="push-0-t clearfix text-center" style="padding-bottom: 10px !important">
                        <div class="btn-toolbar">
                            
                            <div class="btn-group dropup">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  href="javascript:void(0)"><i class="fa fa-share-alt"></i> Share with friends</a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                                    <a tabindex="-1" target="_blank" href="{{pickup.whatsapplink}}"><i class="fa fa-fw fa-whatsapp pull-right"></i> <span style="font-size: 12px !important;">Whatsapp</span></a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" target="_blank" href="{{pickup.googlelink}}"><i class="fa fa-calendar-plus-o pull-right"></i><span style="font-size: 12px !important;"> Add to Google Calendar</span></a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" target="_blank" href="{{pickup.icslink}}"><i class="fa fa-calendar-o pull-right"></i><span style="font-size: 12px !important;">Download to Calendar</span></a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" target="_blank" href="{{pickup.emaillink}}"><i class="fa fa-fw fa-envelope pull-right"></i><span style="font-size: 12px !important;"> Email</span></a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" href="#" onclick="window.print()"><i class="fa fa-fw fa-print pull-right"></i><span style="font-size: 12px !important;"> Print</span></a>
                                                </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END Actions -->
                    <!-- Map Markers Map -->
                    <div class="block block-rounded">
                        <!-- Markers Map Container -->
                        <div id="js-map-markers" style="height: 150px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        </div>
                        <!-- END Markers Map Container -->
                    </div>
                        <!-- END Map Markers Map -->    
                </div>               
            </div>
        </div>
    </div>
</main>

