<style type="text/css">
	.navbar{
		margin-bottom: 0px !important;
	}
	.content{
		padding: 0 !important;
	}

</style>
<!-- Main Container -->
<main id="main-container">
	<!-- Sticky NavBar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" data-ui-sref="home({token: vendor.token})">{{vendor.name}}</a>
	<!--       <img alt="Brand" style="max-height: 20px;" src="{{vendor.logo}}">
	-->    </div>

	<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a data-ui-sref="home({token: vendor.token})">Home <span class="sr-only">(current)</span></a></li>
					<!-- <li><a href="#">About Us</a></li> -->
					<li><a data-ui-sref="reserve({token: vendor.token})">Reserve a field or space</a></li>
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pickup Games <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-ui-sref="pickups({token: vendor.token})">Join a Pickup Game</a></li>
							<li><a href="#"></a></li>
							<li><a data-ui-sref="list({token: vendor.token})">Join our Pickup List</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<!-- Sticky NavBar -->

<!-- Page Content -->
<div class="content content-narrow">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="block block-rounded" id="home-block">
				<div class="bg-image" style="background-image: url({{vendor.cover}});">
					<div class="block-content block-content-full bg-black-op ribbon ribbon-crystal">
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-6 text-center">
								<img class="img-fluid img-rounded" style="max-width: 100%;  height: auto; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="{{vendor.logo}}" srcset="{{vendor.logo}}" alt="{{vendor.name}}">
								<div class="js-rating" style="padding-top: 10px; padding-bottom: 10px"></div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6">
								<div class="text-center push-50-t push-50">
									<h2 class="text-white-op">{{vendor.name}}</h2>
										<h5 class="text-white-op">{{vendor.address_1}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-content block-content-full clearfix">                                              	
						<!-- tags -->
					<div class="text-center">
							<span ng-repeat="tags in vendor.tags" class="badge badge-pill badge-default" ng-bind="tags.name"></span>
					</div> 
					<!-- END tags -->
					<!-- description -->
					<div class="block container">
						<br>
						<span>{{vendor.long_description}}</span>
					</div>
					<!-- End Description -->
					<!-- CTA Button -->
					<a data-ui-sref="reserve({token: vendor.token})" class="btn btn-success btn-block" id="btnSubmit" type="button"><i class="fa fa-calendar-check-o mr-1"></i> RESERVE A FIELD</a>
					<!-- END CTA Button -->

					<!-- Location -->

					<div class="block block-bordered">
						<div class="block-header">
							<h3 class="block-title">Location</h3>
						</div>
						<div class="block-content">
							<!-- Markers Map Container -->
							<div id="js-map-markers" style="height: 150px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
							<!-- END Map Markers Map -->
							<div class="block-content">
								<p><i class="fa fa-map"></i> <span style="font-style: bold;" ng-bind="vendor.address_1"></span>
									<span style="font-style: bold;" ng-bind="vendor.address_2"></span>
									,
									<span style="font-style: bold;" ng-bind="vendor.city"></span>
									,
									<span style="font-style: bold;" ng-bind="vendor.state"></span>

									<span style="font-style: bold;" ng-bind="vendor.zipcode"></span>

								</p>

								<p><i class="fa fa-phone"></i> <span style="font-style: bold;" ng-bind="vendor.phone"></span>
									<p><i class="fa fa-envelope"></i> <span style="font-style: bold;" ng-bind="vendor.email"></span>


									</p>

								</div>


							</div>

						</div>
						<!-- END Location -->
						<!-- Social Media -->
						<div class="block container text-center">

							<a ng-show="{{vendor.instagram !== null}}" href="{{vendor.instagram}}" target="_blank" style="text-decoration: none; color: #000000"><i class="fa fa-instagram fa-2x" style="padding: 10px;"></i></a>
							<a ng-show="{{vendor.facebook !== null}}" href="{{vendor.facebook}}" target="_blank" style="text-decoration: none; color: #000000"><i class="fa fa-facebook-official fa-2x" style="padding: 10px;"></i></a>
							<a ng-show="{{vendor.twitter !== null}}" href="{{vendor.twitter}}" target="_blank" style="text-decoration: none; color: #000000"><i class="fa fa-twitter-square fa-2x" style="padding: 10px;"></i></a>



						</div>

							<!-- End Social Media -->


						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- END Page Content -->
	</main>
	<!-- END Main Container -->
